#practice_vocabulary {
    .new-word-practice {
        font-weight: 600;
        margin-left: 5px;
    }

    .btn-text-check-box {
        position: absolute;
        top: 0;
        right: 0;
    }

    .result-vocabulary {
        .item-vocabulary {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;

            .number {
                display: inline-block;
                padding: 3px 8px;
                border-right: 1px solid #3097d2;
                background-color: #3097d2;
                color: #fff;
            }

            .word {
                display: inline-block;
                padding: 3px 8px;
                border-right: 1px solid #44bbff;
                background-color: #44bbff;
                color: #fff;
            }
        }
    }

}